<div class="banner padded text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2 class="connexion"><%= t('.sign_up', default: "Inscription") %></h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <%= f.input :email, required: true, autofocus: true, placeholder: "e-mail", label: false %>
          <%= f.input :password, required: true, placeholder: "mot de passe", label: false %>
          <%= f.button :submit, t('.sign_up', default: "S'inscrire"), class: "btn-subscribe" %>
        <% end %>
        <p class="or">ou</p>

        <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to t('.sign_in_with_provider', :provider => provider.to_s.titleize, :default => "Inscription avec #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider), class: "btn-subscribe-#{provider}1 btn-subscribe" %><br />
        <% end -%>
        <% end -%>
      </div>
    </div>
  </div>
</div>
