<div class="container">
  <div class="row">
    <div class="col-xs-6 min-height-600 padding-15">
      <h2 class="text-center">Good Dates</h2>
      <% @good_dates.each do |announce| %>
        <%= render "announce", announce: announce %>
      <% end %>
    </div>
    <div class="col-xs-6 min-height-600 padding-15">
      <h2 class="text-center">Bad Dates</h2>
      <% @bad_dates.each do |announce| %>
        <%= render "announce", announce: announce %>
      <% end %>
    </div>
    <div class="col-xs-12 padded text-center">
      <%= link_to "Ajoute toi aussi ton histoire", new_announce_path, class:'btn btn-primary'%>
    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.social-share-button-facebook').html('<i class="fa fa-facebook"></i> Share');
    })
  <% end %>
<% end %>