<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Ajoute ta propre histoire</h2>

      <%= form_for(@announce) do |f| %>
        <div class="form-group">
          <%= f.label :good, "Type de rencontre" %>
          <%= f.select :good, [["Good date", true], ["Bad date", false]], {}, {class: "form-control"} %>
        </div>

        <div class="form-group">
          <%= f.label :name, "Titre de la rencontre" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :text, "Racontez votre date" %>
          <%= f.text_area :text, class: "form-control" %>
        </div>

        <%= f.submit "Poster", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>